
.bold{
	font-weight: bold;
}
ion-icon {
    font-size: 20px; //Preferred size here
}
@keyframes mymove {
    0%   {opacity: 0.4;}
    100% {opacity: 1;}
}

.inProgressAnimation {
    animation: mymove 1s infinite;
 }